/*--------------------------------------------------------------------*/
/*                  support CSS for jExpand script                    */
/*--------------------------------------------------------------------*/

#expandible { 
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #79B7E7;
}

#expandible th {
    padding:5px 10px; 
    text-align:left;
}
#expandible td { 
    padding:5px 10px; 
}
#expandible tr.master .arrow { 
    cursor:pointer;
}
#expandible div.arrow { 
    background:transparent url(../images/arrows.png) no-repeat scroll 0px -16px; 
    width: 16px; 
    height:16px; 
    display:block;
}
#expandible div.up { 
    background-position:0px 0px;
}
