/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

.sidebar-menu {
  font-size: 12px;
  background-color: #2e353d;
  position: fixed;
  width: 200px;
  height: 100%;
  color: #e1ffff;
}

.sidebar-menu ul,
.sidebar-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.sidebar-menu ul .active,
.sidebar-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.sidebar-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}


@media (max-width: 767px) {
  .sidebar-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .sidebar-menu ul, .sidebar-menu li {
      display: inline;
  }

  .sidebar-menu li {
      padding: 5px;
      padding-left: 10px;
  }

  .sidebar-menu li:hover {
      background-color: #4f5b69;
  }
}
@media (min-width: 767px) {
    .sidebar-menu {
	top: 50px; /* navbar size */
	padding-top: 50px; 

    }
    
    .sidebar-menu .sidebar-menu-list .sidebar-menu-content {
	display: block;
    }
    
    .sidebar-menu li {
	padding-left: 2px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
    }

    .sidebar-menu li:hover {
	border-left: 3px solid #d19b3d;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
    }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .side-navbar-container {
      margin-left:200px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Tables
 */


/* Fix for dataTables */

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}


/**********************************************************************/
/* Expand Table trick by GM                                           */
/* Used for indenting child rows                                      */
/**********************************************************************/


.table > tbody > tr.childrow > td:first-of-type {
    padding-left : 8ex;
}

.table > tbody > tr.leafrow > td:first-of-type {
    padding-left : 3ex;
}

.collapse-chevron:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114"; 
    float: left;
    color: grey;      
}
.collapse-chevron.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; 
}