body {
    margin : 0;
    padding: 0; 
    font-family: "Arial","Helvetica","Verdana","sans-serif";
    font-size: 13Px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 1.6em;
    margin: 0 0 0 0;
}

.float-container:after {
    clear: both;
    content: ".";
    display: "block";
    height: 0;
    visibility: hidden;
}

/**********************************************************************/
/*                       Page layout                                  */
/**********************************************************************/


div.left {
    float:left;
    width: 200px;
}

div.right {
    margin-top: 20px;
    margin-left: 230px;
    overflow: hidden;
}

#banner {
    top: 0;
    height: 65px;
}

#wrapper {
    margin:0 auto;
    position:relative;
    width: 100%;
}

h1.logo {
    left: 28px;
    margin: 0;
    position: absolute;
    top: 3px;
    text-decoration: none;
}

h1.logo a {
    text-decoration:none;
}

#logged {
    float:right;    
}


#content {
    margin: 15px;
}

/*** Breadcrumbs ***/

#breadcrumbs ul {
    height:25px;
    padding:0 6px;
}

#breadcrumbs ul li {
    padding:0 6px;
    position:relative;
}

#breadcrumbs ul li i {
    display:inline;
    padding-left: 18px;
}

#breadcrumbs ul, #breadcrumbs ul li {
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
}

#breadcrumbs ul li a {
    color:black;
    float:left;
    font-size:14px;
    line-height:16px;
    padding:0 5px;
    text-decoration:none;
}

/*** Dock  ***/

#dock {
    top: 34px;
    right: 1px;
    position: absolute;   
}


#dock ul {
    height:25px;
    padding:0 6px;
}

#dock ul li {
    padding:0 6px;
    position:relative;
}

#dock ul, #dock ul li {
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
}

#dock ul li a {
    color:black;
    display:block;
    float:left;
    font-size:13px;
    line-height:22px;
    padding:0 5px;
    text-decoration:none;
}

#dock ul li a:hover, #dock ul li.selected a {
    border-bottom: 2px solid #FF9C08;
}

#dock ul li.selected a {
    font-weight:bold;
}

/*** left panel ***/

#panel ul.menu {
    padding: 0;
    margin: 0;
}

#panel ul.menu li {
    list-style-type:none;
}

#panel ul.menu li a { 
    text-decoration: none;
}

#panel ul li a:hover, #panel ul li.selected a {
    border-bottom: 2px solid #FF9C08;
}

/* JQuery UI theme override */
#panel .ui-accordion  .ui-accordion-content {
    padding-left: 10px;
}

/**********************************************************************/
/*                          Miscellanea                               */
/**********************************************************************/


#search-cat {
  font-weight:bold;
}

.small_btn {
  font-size: 9px;
  float: right;
}

.create_btn a {
    float:left;
    font-size:10px; 
    position: relative;
}

.manoc-toolbar {
    padding: 3px;
}

img.logo {
    margin-right: 10px;
    float: left;
}

img.shortcut {
    height: 14px;
}

#error, .error_message { 
    color:red; 
} 

.manoc-corner { -moz-border-radius: 5px; -webkit-border-radius: 5px;  }

div.toolbar { 
    font-size: 8px;
}

table.simple thead {
  font-size: 1.35em;
   
}

table.simple {
  font-size: 1.2em;
  width:     35%;
}

table.simple td {
  text-align:     center;
}

table.report {
 border: 1px solid #4297D7;
}

.manoc-form {
 padding: 1em;
 border-spacing:0.2em;
}

.manoc-form label {
  font-weight:bold;
}

table.manoc-form tr{
 border-spacing:19em;
}

.buttons-form {
 padding:    14px;
 text-align: center;
}

#info {
 padding: 0.8em;
 border-spacing:0.2em;
}
