#! /bin/sh
# Author: GM
#
# System startup script for manoc
#
### BEGIN INIT INFO
# Provides: manoc
# Required-Start: $syslog $network
# Required-Stop:  $syslog
# Default-Start:  3 5
# Default-Stop:   0 1 2 6
# Description:    network manoc
### END INIT INFO

. /etc/rc.status

MANOC_ROOT=/home/manoc/production
MANOC_ARPD=$MANOC_ROOT/bin/arpsnifferd

test -x $MANOC_ARPD || exit 5

rc_reset
case "$1" in
    start)
	echo -n "Starting manoc arp sniffer "
	startproc $MANOC_ARPD --daemon
	rc_status -v
	;;
    stop)
	echo -n "Shutting down manoc arp sniffer "
	killproc -TERM $MANOC_ARPD
	rm -f /var/lock/subsys/manoc-arpd
	rc_status -v
	;;
    try-restart)
	## Do a restart only if the service was active before.
	## Note: try-restart is now part of LSB (as of 1.9).
	## RH has a similar command named condrestart.
	$0 status
	if test $? = 0; then
		$0 restart
	else
		rc_reset        # Not running is not a failure.
	fi
	# Remember status and be quiet
	rc_status
	;;
    restart)
	$0 stop
	$0 start
	rc_status
        ;;
    status)
	echo -n "Checking for manoc arp sniffer "
	checkproc $MANOC_ARPD
	rc_status -v
	;;
    *)
        echo "Usage: $0 {start|stop|status|try-restart|restart}"
        exit 1
        ;;
esac
rc_exit

