[%
  page.sidebar_items = [
    {
	name = "VLAN by range",
	action = 'vlanrange/list',
    },
    {	
	name = "VLAN list",
	action = 'vlan/list',
    },
    {
    	name = "Compare with VTP",
	action = 'vlan/vtp',
    },	
  ]
 -%]