<p>Are you sure to delete this object?</p>
<form method="POST" >
<form class="form-horizontal" method="post">
<button type="submit" class="btn btn-danger" name="submit" value="Submit"/>Confirm</button>
</form>

