[%
    page.title='Uplinks for ' _ object.name
-%]

<form name="[% form.name %]" method="POST"  action="[% form.action %]">
  <table class="table">
    <th>Uplink</th><th>Interface</th>
    [%- FOREACH f IN form.field('interfaces').sorted_fields -%]
    <tr>
      <td> [% f.field('uplink_flag').render %]</td>
      <td>[% f.field('name').label %][% f.field('name').render %]
        </td>
    </tr>
    [%- END %]
  </table>
  [% form.field('csrf_token').render %]
  <input class="btn btn-default" name="submit" value="Save" type="submit">
</form>
