<!DOCTYPE html>
<html lang="en">
  [% PROCESS layouts/_head_block.tt %]
  <body>
    <div id="wrapper">
      [% navbar %]
      <div id="page-wrapper">
        [% PROCESS layouts/_content_block.tt %]
  	  </div>
      <!-- /#page-wrapper -->
   </div>
   <!-- /#wrapper -->

  [% make_js_block %]
  </body>
</html>
