<!DOCTYPE html>
<html lang="en">
  [% PROCESS layouts/_head_block.tt %]
  <body>
    [% navbar %]
    [% sidebar %]
    <div class="side-navbar-container container-fluid">
      <div class="row">
        <div class="col-sm-12 main">
        [% PROCESS layouts/_content_block.tt %]
        </div>
     </div><!-- end of row -->
   </div><!-- end of container -->
   [% make_js_block %] 
  </body>
</html>
