[%# to be used with wrapper_fragment.tt and jqueryui dialog %]
<div class="buttons">
<a href="javascript:closeDialog()" >Close</a>
</div>
</form>
<script><!--
function closeDialog() {
  $('#dialog').dialog('close');
}
</script>
