[% META
   use_table=1
-%]
[%
   title='MAC Addresses on multiple devices'
   %]
[% init_table('macs') %]
[% FOREACH m IN multimacs %]
   [% IF loop.first %]
    <table class="display" id="macs">
       <thead>
	 <tr>
	 <th>MAC Address</th>
 	 <th>Number of devices</th>
	 </tr>
       </thead>
       <tbody>
  [% END %]
         <tr>
  	 <td>[% print_mac(m.macaddr) %]</td>
	 <td>[% m.devs %]</td>
 	 </tr>
   [% IF loop.last %]
        </tbody>
    </table>
   [% END %]
[% END %]
