[%
   page.title='Managed rack list'
-%]

<table>
  <tr>
     <th>Rack</th>
     <th>Building Id</th>
     <th>Building Name</th>
     <th>Floor</th>
     <th>Notes</th>
  </tr>
[% FOREACH t IN table %]
       <tr>
	  <td>[% t.id | html %]</td>
	  <td>[% t.build_id | html %]</td>
	  <td>[% t.build_name | html %]</td>
	  <td>[% t.floor | html %]</td>
	  <td>[% t.notes | html %]</td>
       </tr>
[% END %]
</table>
