[% META title='Login' %]

 <form method="POST">
 <table>
 <tr>
   <td>Username:</td>
   <td>
   <input type="text" name="username" value="" />
   </td>
 </tr>
 <tr>
   <td>Password:</td>
   <td><input type="password" name="password" value="" /></td>
 </tr>
 </table>
<div class=buttons>
 <input type="submit" name="submit" value="submit" />
</div>
 </form>

