[% IF no_wrapper;
       debug("Passing page through as text: $template.name");
       content;
   ELSE;
       layout = template.layout || page.layout || 'onecol';
       wrapper = "layouts/${layout}.tt";
       debug("Applying wrapper $wrapper to $template.name");
       title = title || page.title || template.title;
       content WRAPPER $wrapper;
   END;
-%]
