[% META 
   title='Multi MAC'
   use_table=1
   section='Reports'
-%]

[% init_table('macs') %]
[% FOREACH m IN multimacs %]
   [% IF loop.first %]
    
    <table class="display" id="macs">
       <thead>  
	 <tr>
	 <th>Mac Address</th>
 	 <th># Device</th>
	 </tr>
       </thead>  
       <tbody>
  [% END %]
         <tr>
  	 <td>[% print_mac(m.macaddr) %]</td>
	 <td>[% m.devs %]</td>
 	 </tr>
   [% IF loop.last %]
        </tbody>
    </table>
   [% END %]
[% END %]
