[% link_css.push(
      c.uri_for('/static/external/bootstrap/css/bootstrap.min.css'),
      c.uri_for('/static/external/metisMenu/metisMenu.min.css'),
      c.uri_for('/static/external/sbadmin2/css/sb-admin-2.css'),

      c.uri_for('/static/external/selectize/css/selectize.bootstrap3.css'),
      )
-%]
[% link_js.push(
      c.uri_for('/static/external/jquery/jquery.min.js'),

      c.uri_for('/static/external/bootstrap/js/bootstrap.min.js'),

      c.uri_for('/static/external/selectize/js/selectize.min.js'),
      c.uri_for('/static/external/bootbox/js/bootbox.min.js'),
      c.uri_for('/static/external/typeahead/typeahead.min.js'),

       c.uri_for('/static/external//metisMenu/metisMenu.min.js'),
      c.uri_for('/static/external/sbadmin2/js/sb-admin-2.js'),
      )
-%]
[%# ----------------------------------------------------------------- -%]
[% MACRO bootstrap_icon(name) BLOCK -%]
<span class="glyphicon glyphicon-[% name %]" aria-hidden="true"></span>
[%- END -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO bootstrap_pagetitle(title) BLOCK -%]
<h1 class="page-header">[% title %]</h1>
[%- END -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO bootstrap_nav_tab(name, label, active) BLOCK -%]
<li role="presentation" [% IF active %]class="active"[% END %]>
<a href="#[% name %]" aria-controls="[% name %]" role="tab" data-toggle="tab">[% label %]</a>
</li>
[%- END -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO bootstrap_progressbar(value, class) BLOCK -%]
 <div class="progress">
  <div class="progress-bar [% class %]" role="progressbar" aria-valuenow="[% value %]" aria-valuemin="0" aria-valuemax="100" style="width: [% value %]%;">
   <span class="sr-only">[% value %]% Complete</span>
  </div>
</div>
[% END -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO bootstrap_alert(content, type) BLOCK -%]
[% DEFAULT type = 'info' %]
<div class="alert alert-[% type %] alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  [% content %]
</div>
[% END -%]
