[% MACRO manoc_radiobox BLOCK -%]
[%# parameter options (array of [value, label] pairs) -%]
[%# parameter name                                    -%]
[%# parameter default                                 -%]
  [% FOREACH o IN options -%]
    <label><input type="radio" name=[% name %] value=[% o.0 %] 
  	    [% 'checked="checked"' IF default == o.0 %] />[% o.1 %]</label>
  [% END -%]
[% END -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO icon(command) BLOCK -%]
<img class="shortcut" border="0" src="[% c.uri_for('/static/images/' _ command
_ '.gif') %]" alt="[%command%]" title="[%command%]"/>
[% END-%]
[%# ----------------------------------------------------------------- -%]
[% MACRO ui_icon(image) BLOCK -%]
<span style="float:left" class="ui-icon
 ui-icon-[%image%]"></span>
[% END-%]
[%# ----------------------------------------------------------------- -%]
[%# Device -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_device(device) BLOCK-%]
<a href="[% c.uri_for_action('device/view',[device.id]) %]">[%device.id%]</a>
  [% IF device.get_mng_url -%]
<a href="[%device.get_mng_url%]"><img class="shortcut" border="0" src="[%
c.uri_for('/static/images/set.png') %]" alt="mng url" /></a>
  [% END-%]
[% END-%]
[%# ----------------------------------------------------------------- -%]
[%# IP address -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_ip(ip) BLOCK%]
<a href=[% c.uri_for_action('/ip/view', [ip]) %]> [% ip %] </a>
[% END-%]
[%# ----------------------------------------------------------------- -%]
[%# MAC address -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_mac(mac) BLOCK-%]
<a href=[% c.uri_for('/mac', mac) %]> [% mac %] </a>
[% END-%]
[%# ----------------------------------------------------------------- -%]
[%#                           Interface                               -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_short_iface(device,iface) BLOCK%]
   <a href="[% c.uri_for_action('interface/view', 
	     [device , iface]) %]">
	     [% iface %]</a>
[% END-%]
[% MACRO print_iface(device,iface) BLOCK-%]
   <a href="[% c.uri_for_action('interface/view', 
	     [device , iface]) %]">
	     [% device %]/[% iface %]</a>
[% END-%]
[%# ----------------------------------------------------------------- -%]
[%# Rack -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_rack(id,name) BLOCK-%]
<a href=[% c.uri_for_action('/rack/view', id) %]> [% name %] </a>
[% END -%]
[%# ----------------------------------------------------------------- -%]
[%# Vlan -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_vlan(id,name) BLOCK-%]
<a href=[% c.uri_for_action('/vlan/view', [id]) %]> [% name %] </a>
[% END -%]
[%# ----------------------------------------------------------------- -%]
[%# Hostname -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_host(id,name) BLOCK-%]
[% name %] <a href=[% c.uri_for_action('/ip/view', [id]) %]>[%id%]</a>
[% END -%]
[%# ----------------------------------------------------------------- -%]
[%# IpRange -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_iprange(name, desc) BLOCK-%]
<a href=[% c.uri_for_action('/iprange/view', [name]) %]>[%name%]</a> ([% desc %])
[% END -%]
[%# ----------------------------------------------------------------- -%]
[%# VlanRange -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_vlanrange(name) BLOCK-%]
<a href=[% c.uri_for('/vlanrange/list') %]>[%name%]</a>
[% END -%]
[%# ----------------------------------------------------------------- -%]
[%# IpCalc -%]
[%# ----------------------------------------------------------------- -%]
[% MACRO print_ipcalc(range, prefix) BLOCK-%]
<a href=[% c.uri_for_action('/iprange/view_iprange', [range,prefix]) %]>[%range%]/[%prefix%]</a> 
[% END -%]
