[%
IF c.flash.message;
 bootstrap_alert(c.flash.message);
END;

IF message;
 bootstrap_alert(c.message);
END;

IF c.flash.error_msg;
 bootstrap_alert(c.flash.error_msg, 'warning');
END;

IF c.error_msg;
 bootstrap_alert(c.error_msg, 'warning');
END;
-%]