[Unit]
Description=manoc arp sniffer
After=network.target

[Service]
Type=forking
EnvironmentFile=<path to a file with environment variables>
ExecStart=/bin/bash -c "perl -Mlocal::lib=$LOCALLIB $MANOC_HOME/script/manoc_arpsniffer.pl"
ExecStop=/bin/bash -c "perl -Mlocal::lib=$LOCALLIB $MANOC_HOME/script/manoc_arpsniffer.pl --stop"
RemainAfterExit=yes


[Install]
WantedBy=default.target
