[Unit]
Description=manoc netwalker daemon
After=network.target 

[Service]
Type=forking
EnvironmentFile=<path to a file with environment variables>
ExecStart=/bin/bash -c "perl -Mlocal::lib=$LOCALLIB $NETWALKER_SCRIPT"
ExecStop=/bin/bash  -c "pkill --pidfile $PID_FILE"
RemainAfterExit=yes 

[Install]
WantedBy=default.target
