[Unit]
Description=manoc fast CGI front end
After=network.target

[Service]
Environment="PERL_LOCAL_LIB_ROOT={{ manoc_local_lib}}"
Environment="PERL5LIB={{ manoc_local_lib}}/lib/perl5:{{manoc_home}}/lib"
Environment="APP_MANOC_CONFIG=/etc/manoc.conf"

ExecStart={{manoc_local_lib}}/bin/plackup  -E production -s FCGI --listen  /var/run/manoc/manoc.sock -a app.psgi
WorkingDirectory={{manoc_home}}
[Install]
WantedBy=default.target
